@import 'tailwindcss';

@theme {
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 100rem;

  --color-background: #1f2937;
  --color-background-two: #8e0c11;
  --color-textcolor: #000000;
  --color-sidebar-base: #010a0d;
  --color-header-white: #fcfdfe;
  --color-subheader-white: #fcfdfe;
  --color-sidebar-border: #fcfdfe;
  --color-content-tab: #c1dceb;
  --color-content-tab-two: #bbe6f2;
  --color-hover-highlight: #3b82f6;
  --color-card: #fcfdfe;

  --background-image-base-pattern: url('./assets/felt/Gcc8lM_WEAAtHqH.png');
  --background-image-card-texture: url('./assets/felt/painted-plaster-4717-in-architextures.jpg');

  --font-weight-hairline: 100;
  --font-weight-extra-bold: 800;
}

#content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

b {
  font-weight: 200;
}
