@import 'tailwindcss';

@theme {
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 100rem;

  --color-background: #1f2937;
  --color-background-two: #8e0c11;
  --color-textcolor: #000000;
  --color-sidebar-base: #010a0d;
  --color-header-white: #fcfdfe;
  --color-subheader-white: #fcfdfe;
  --color-sidebar-border: #fcfdfe;
  --color-content-tab: #c1dceb;
  --color-content-tab-two: #bbe6f2;
  --color-hover-highlight: #3b82f6;
  --color-card: #fcfdfe;

  --background-image-base-pattern: url('./assets/felt/Gcc8lM_WEAAtHqH.png');
  --background-image-card-texture: url('./assets/felt/painted-plaster-4717-in-architextures.jpg');

  --font-weight-hairline: 100;
  --font-weight-extra-bold: 800;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  width: 100%;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.animateButton:hover {
  color: #fcfdfe;
  text-decoration: none;
  background-color: #2b3135;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chromium, Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-main-scrollbar::-webkit-scrollbar {
  width: 6px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.custom-main-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-main-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2px;
  transition:
    background-color 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  opacity: 0.5;
}

.custom-main-scrollbar:hover::-webkit-scrollbar,
.custom-main-scrollbar:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

.custom-side-scrollbar {
  direction: rtl;
}

.custom-side-scrollbar::-webkit-scrollbar {
  width: 4px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.custom-side-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-side-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fcfdfe;
  border-radius: 2px;
  transition:
    background-color 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  opacity: 0.5;
}

.custom-side-scrollbar:hover::-webkit-scrollbar,
.custom-side-scrollbar:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

.item-direction-for-left-scrollbar {
  direction: ltr;
}

.resume-iframe {
  width: 100%;
  aspect-ratio: 8.5 / 11.3;
  border: 0;
}

a {
  text-decoration: inherit;
}
a:hover {
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
